:root {
	--VeryDarkGray: hsl(0, 0%, 17%);
	--DarkGray: hsl(0, 0%, 59%);
}

.ipApiContainer {
	background-image: url(./images/pattern-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  z-index: 1001;
  position: relative;
}

.wrapper {
	max-width: 30rem;
	margin: 0 auto;
}

.title {
	padding-top: 3rem;
	color: white;
	font-size: 2.5rem;
	text-align: center;
	font-weight: normal;
}

.inputContainer {
	margin-top: 3rem;
	display: flex;
}

.inputIp,
.submitIp {
	height: 5rem;
	padding: 0 0.5rem;
	border: none;
	cursor: pointer;
}

.inputIp {
	font-size: 1.8rem;
	width: 100%;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	padding: 0 2rem;
}

.submitIp {
	aspect-ratio: 1/1;
	background-color: black;
	background-image: url(./images/icon-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}

.submitIp:hover {
  background-color: var(--VeryDarkGray);
}

.ipResultContainer {
	margin-top: 2rem;
	padding: 2rem;
	background-color: white;
	border-radius: 1.5rem;
}

.resultName,
.result {
	text-align: center;
	font-weight: bold;
}

.resultName {
	text-transform: uppercase;
	color: var(--DarkGray);
	font-size: 1.1rem;
	padding-bottom: 0.5rem;
}

.result {
	padding-bottom: 2rem;
  font-size: 2.5rem;  
}

.result:last-child {
	padding-bottom: 0rem;
}

/* 
- Mobile: 375px
- Desktop: 1440px

- Font size (text input): 18px
*/
